name: Linux-XRDP

on:
  workflow_dispatch:

jobs:
  linux-rdp:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Update system
        run: |
          sudo apt update

      - name: Install Desktop Environment (XFCE)
        run: |
          sudo apt install -y xfce4 xfce4-goodies

      - name: Install XRDP
        run: |
          sudo apt install -y xrdp dbus-x11
          sudo systemctl enable xrdp

      - name: Fix XRDP black screen & dbus
        run: |
          echo "startxfce4" > ~/.xsession
          
          sudo sed -i 's/^exec.*/exec startxfce4 \&/' /etc/xrdp/startwm.sh
          
          sudo systemctl restart xrdp

      - name: Create RDP user
        run: |
          sudo useradd -m rdp
          echo "rdp:rdp12345" | sudo chpasswd
          sudo usermod -aG sudo rdp

      - name: Open RDP port
        run: |
          sudo ufw allow 3389/tcp
          sudo ufw reload || true

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Connect to Tailscale
        run: |
          sudo tailscale up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=gh-linux-xrdp

      - name: Show RDP access info
        run: |
          IP=$(tailscale ip -4)
          echo ""
          echo "==============================="
          echo " XRDP ACCESS READY"
          echo " IP: $IP"
          echo " PORT: 3389"
          echo " USER: rdp"
          echo " PASS: rdp12345"
          echo "==============================="
          echo ""
          sleep 999999
